<h2>Dashboard</h2>

<h3>Longest calls this week</h3>
<table id="longest-calls">
  <tr>
    <th>User</th>
    <th>Customer</th>
    <th>Time</th>
    <th>Duration</th>
  </tr>
<% @longest_calls_this_week.each do |log| %>
  <tr>
    <td><%= log.user.name %></td>
      <!-- SQL: SELECT * FROM users WHERE users.id = ? LIMIT 1 -->
    <td><%= link_to log.customer.name, customer_path(log.customer) %></td>
      <!-- SQL: SELECT * FROM customers WHERE customers.id = ? LIMIT 1 -->
    <td><%= log.created_at %></td>
    <td><%= seconds_to_hms(log.duration) %></td>
  </tr>
<% end %>
</table>


<h3>Busiest agents this week</h3>

<table id="busiest-agents">
  <tr>
    <th>User</th>
    <th># of calls</th>
  </tr>
<% @busiest_agents_this_week.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.number_of_calls %></td>
  </tr>
<% end %>
</table>
