<%= form_for @customer do |f| %>
  <table id="new-customer-table">
    <tr>
      <th>Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>Account Type</th>
      <td><%= f.select :account_type, Customer::ACCOUNT_TYPES %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
