<h2>Call Logs</h2>

<%= link_to "Create new call log", new_log_path %>

<table id="logs-table">
  <tr>
    <th>Agent</th>
    <th>Customer</th>
    <th>Created at</th>
    <th>Duration</th>
    <th>Summary</th>
  </tr>
<% @logs.each do |log| %>
  <tr>
    <td><%= log.user.name %></td>
      <!-- SQL: SELECT * FROM users WHERE users.id = ? LIMIT 1 -->
    <td><%= link_to log.customer.name, customer_path(log.customer) %></td>
      <!-- SQL: SELECT * FROM customers WHERE customers.id = ? LIMIT 1 -->
    <td><%= log.created_at %></td>
    <td><%= seconds_to_hms(log.duration) %></td>
    <td><%= log.summary %></td>
  </tr>
<% end %>
</table>
